.ajout {
    display: flex;
    gap: 8px;
    padding-top: 8px;
}

.ajout input {
    flex: 1;
}

body {
    font-family: system-ui, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 80px;
}

header {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: flex-start;
}

input:checked + span {
    text-decoration: line-through;
    color: gray;
}

main {
    padding: 8px;
}

main li {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 8px;
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar {
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
}
.nav-bar a {
    align-items: center;
    color: dimgray;
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}

.nav-bar .active {
    color: blue;
}

.nav-bar li {
    flex: 1;
}

.nav-bar ul {
    border-top: 1px solid lightgray;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}